.site-hero {
  width: 100%;
  height: 80vh; 
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-content {
  text-align: center;
  color: #fff;
  max-width: 800px;
}

.hero-title {
  font-size: 5rem;
  font-family: 'Abril Fatface';
  font-weight: 700;
  margin-bottom: 0px;
  animation: fadeUp 1s ease forwards;
  color: #fff;
}

.hero-subtitle {
  font-size: 32px;
  color: #ffffff;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
  font-family: 'Mukta Mahee',sans-serif;
}

.hero-subtitle a {
  color: #ffffff80;
  text-decoration: underline;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-subtitle {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .site-hero {
    height: 60vh;
  }

  .hero-title {
    font-size: 2.8rem;
  }

  .hero-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 16px;
    line-height: 1.5;
  }
}

