* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  background: #fff;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
  overflow-x: hidden;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}