

.half {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  gap: 30px;
  padding: 0 10vw;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.half.reverse {
  flex-direction: row-reverse;
}


.image {
  flex: 1;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}


.text {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.text h2 {
  font-size: 40px;
  color: #000;
  font-family: 'Abril Fatface', serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 16px;
}


.btn-primary {
  border: 1px solid #65c0ba;
  padding: 10px 20px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  width: fit-content;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #65c0ba;
  color: white;
}


@media (max-width: 768px) {
  .half,
  .half.reverse {
    flex-direction: column;
    gap: 0;
    padding: 0 4vw;
    margin: 40px auto;
  }
.half {
  padding: 0 4vw;
}
  .image {
    width: 100%;
    height: 300px;
  }

  .text {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .text h2 {
    font-size: 28px;
  }

  .text p {
    font-size: 16px;
  }

  .btn-primary {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .text h2 {
    font-size: 20px;
  }

  .text p {
    font-size: 12px;
  }

  .image {
    height: 200px;
  }
}
